body > h1{
    
    color: #fff;
}

#home-section{
    background-image: url("/img/nasa-unsplash.jpg");
    background-size: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 700px;

}

@media(max-width: 700px){
    #home-section{
        background-size: cover;
       
    }
}


#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}
.navbar {
    opacity: 0.9;
    
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form{
    opacity: 0.8;
}

#home-section .fas{
   
    color: #211d1d;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#explore-head-section, #create-head-section{
    padding: 10%;
    background-image: url("/img/andrea-guadagno-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}



#explore-section{

    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}
